.avatar{
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.lable{
    font-size: 11px;
}

.name{
    font-weight: 700;
    color: #0b3a3b;
}

.email{
    padding: 5px 14px;
}

hr{
    border-color: #EFEFEF;
}